<form action="" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= typeof recipe !== "undefined" ? recipe.recipe_name : "" %>" placeholder="Recipe name" required>
    <label for="description">Info:</label>
    <textarea name="description" id="description" placeholder="Recipe description"><%- typeof recipe !== "undefined" ? recipe.recipe_description : '' %></textarea>
     <%- include('components/checklist', { header: "Ingredients", data: ingredients}) %>
     <%- include('components/checklist', { header: "Tags", data: tags}) %>
    <button type="submit">Submit</button>
</form>