<h1> <%= title %> </h1>

<% if(typeof tags !== "undefined"){ %>
    <div class="cardWrapper">
        <% tags.forEach(tag => { %>
            <div>
                <a href=<%= `/tags/${tag.id}` %>>
                    <h3> <%= tag.name %> </h3>
                </a>
            </div>
        <% }) %>
        </div>
<% } else { %>
        <p>No tags were found.</p>
    <% } %>

<a href="/tags/create">
    <p>Create a new tag</p>
</a>